* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "ComicNeue-Bold";
  background-color: #65e2e6; }

@font-face {
  font-family: "ComicNeue-Bold.ttf";
  src: url("../assets/font/ComicNeue-Bold.ttf"); }

@font-face {
  font-family: "Sriracha-Regular.ttf";
  src: url("../assets/font/Sriracha-Regular.ttf"); }

h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, sans-serif; }

h3 {
  font-size: 1rem; }

h2 {
  margin: 2%; }

.logo {
  text-align: center; }
  .logo .logo1 {
    width: 250px;
    border-radius: 10%;
    margin: 2.5%;
    transition: all 1s ease; }
    .logo .logo1 .logo1:hover {
      transform: scale(1.1, 1.1); }

.section1 {
  background-image: url("../assets/img/background-celeste.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 30px;
  margin: 50px; }

.fondoaboutUs {
  background-image: url("../assets/img/background-celeste.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 30px;
  margin: 50px; }

.anchoForm {
  width: 30%; }

.card-accounts {
  border-radius: 5px;
  text-align: left;
  width: 300px;
  height: 60px; }

.card {
  display: inline-block;
  margin: 15px;
  padding: 10px; }

.textoSeguridad {
  background-image: url("../assets/img/background-celeste.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 10px;
  margin: 30px; }
